NEXT_PUBLIC_SANITY_DATASET=""
NEXT_PUBLIC_SANITY_PROJECT_ID=""
NEXT_PUBLIC_SANITY_API_VERSION=""
DEMO_SERVER_API_URL=""
GOOGLE_API_ID=""
GOOGLE_AUTHORIZED_ORIGINS=""
FACEBOOK_API_ID=""
FACEBOOK_API_VERSION="v21.0"
NEXT_PUBLIC_DEMO_SERVER_API_URL=""
NEXT_PUBLIC_GOOGLE_API_ID=""
NEXT_PUBLIC_GOOGLE_AUTHORIZED_ORIGINS=""
NEXT_PUBLIC_FACEBOOK_API_ID=""
NEXT_PUBLIC_FACEBOOK_API_VERSION="v21.0"
