NEXT_PUBLIC_SANITY_DATASET=""
NEXT_PUBLIC_SANITY_PROJECT_ID=""
NEXT_PUBLIC_SANITY_API_VERSION=""
DEMO_SERVER_API_URL="/bounty/api"
GOOGLE_API_ID=""
GOOGLE_AUTHORIZED_ORIGINS="https://www.01com.com,https://01com.com"
FACEBOOK_API_ID=""
FACEBOOK_API_VERSION="v21.0"
NEXT_PUBLIC_DEMO_SERVER_API_URL="/bounty/api"
NEXT_PUBLIC_GOOGLE_API_ID=""
NEXT_PUBLIC_GOOGLE_AUTHORIZED_ORIGINS="https://www.01com.com,https://01com.com"
NEXT_PUBLIC_FACEBOOK_API_ID=""
NEXT_PUBLIC_FACEBOOK_API_VERSION="v21.0"
